body{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300 !important;
    color: #67757c !important;
    background-color:#ffffff!important;
}

.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}

.loading-icon{
	width:100px;
	height:auto;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: none;
}

.count-card-text{
	font-size: 14px;
}
.count-card-title{
	font-size: 24px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.imgPreview{
    border: none;
    width: 100%;
    object-fit: cover;
    height: 320px;
}

.imgOnRow{
    border: none !important;
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.normal-btn{
  border-radius: 8px !important;
  padding-left: 15px !important;
  padding-right: 15px!important;
  background-color: #ff6600!important;
  color: white!important;
  font-family: 'Hind Siliguri', sans-serif!important;
  font-weight: 400!important;
  border: 3px solid  #ff6600;

}



.normal-btn-outline{
  border-radius: 2px !important;
  padding-left: 20px !important;
  padding-right: 20px!important;
  background-color: white!important;
  color:  #FCA311! important;
  font-family: 'Hind Siliguri', sans-serif!important;
  font-weight: 400!important;
  border: 0.5px solid  #c0bfbc! important;
}

.normal-btn-cancel{
  border-radius: 8px !important;
  padding-left: 15px !important;
  padding-right: 15px!important;
  background-color: #fc3b3b!important;
  color: white!important;
  font-family: 'Hind Siliguri', sans-serif!important;
  font-weight: 400!important;
  border: 3px solid  #fc3b3b;

}

